[Unit]
Description=gBar

[Service]
ExecStart=/home/lap/deckenburg/git/gBar/build/gBar bar 0
Restart=always

[Install]
WantedBy=graphical-session.target
