[Unit]
Description=Pick random wallpaper
After=hyprpaper-ready.service
Requires=hyprpaper-ready.service

[Service]
ExecStart=/home/captain/.local/custom/random-wallpaper.zsh

[Install]
WantedBy=hyprpaper-ready.service
