[Unit]
Description=Pick a random Wallpaper every hour!
Requires=random-wallpaper.service
After=hyprpaper-ready.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=graphical-session.target
